@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Kantumruy Pro", sans-serif;
  scroll-behavior: smooth;
}
.logo {
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-size: 30px;
  font-weight: bold;
}
.logo:hover {
  color: dodgerblue;
}
::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

::selection {
  background-color: rgb(89, 203, 248);
  color: white;
}
.nav-constainer {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem;
  background-color: #333333;
  z-index: 999;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  font-size: 20px;
  color: white;
}
ul > li {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.home {
  color: dodgerblue;
}
ul > li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: dodgerblue;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
ul > li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.cam-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cam {
  position: absolute;
  top: 7rem;
  z-index: 99;
  color: white;
  font-size: 100px;
}
.about-cambo {
  margin-top: 5rem;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}
.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.text-wrap {
  max-width: 1100px;
  font-weight: 400;
  font-size: 25px;
}
.album {
  text-align: center;
  margin-top: 3rem;
  font-size: 50px;
  font-weight: 400;
}
.img-show {
  margin-top: 5rem;
  display: flex;
  overflow-x: scroll;
  gap: 2rem;
  border-radius: 15px;
}
.radius-show {
  border-radius: 10px;
}
.img-show::-webkit-scrollbar {
  height: 10px;
  border-radius: 25px;
}
.img-show::-webkit-scrollbar-track {
  background-color: #8b8b8b;
}
.img-show::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  border-radius: 25px;
}
.img-show::-webkit-scrollbar-thumb:hover {
  background-color: rgb(87, 171, 255);
}
.video-frem {
  width: 100%;
  border-radius: 10px;
}
.map-cam {
  text-align: center;
  margin-top: 2rem;
  font-size: 35px;
  font-weight: 500;
}
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-map {
  margin-top: 3rem;
}
.team {
  margin-top: 8rem;
  margin-left: 2rem;
  text-align: center;
  font-size: 50px;
  color: #606060;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}
.card-body {
  height: 550px;
  width: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.card-image {
  width: 300px;
  object-fit: cover;
  padding: 1.3rem 0rem;
  border-radius: 5px;
}
.dev {
  color: #333333;
}
.kampong-speu {
  margin-top: 7rem;
  font-size: 50px;
  text-align: center;
  color: #333333;
}
.about-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
}
.province-text {
  margin-top: 3rem;
  font-size: 35px;
}
.dis-province {
  margin-top: 3rem;
  max-width: 1100px;
  font-size: 26px;
  line-height: 2.8rem;
}
.footer-container {
  margin-top: 18rem;
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-footer {
  line-height: 2rem;
  font-size: 18px;
}
.copyright {
  margin-top: 11rem;
  margin-left: 16rem;
}
.contact {
  max-width: 600px;
  padding: 3rem 3rem;
  text-align: end;
}
.find-us {
  padding: 3rem 3rem;
}
.style-footer {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.developer {
  margin-left: 2.6rem;
}
